!!! 5
html(lang="en")
  head
    title My (fab) Game

    link(href="/stylesheets/board.css", media="screen", rel="stylesheet", type="text/css")

    script(src="/javascript/jquery-min.js", type="application/javascript")

    script(src="/javascript/json2.js", type="application/javascript")

    script(type="text/javascript", src="/faye.js")

    script(src="/javascript/raphael-min.js", type="application/javascript")
    script(src="/javascript/player.js", type="application/javascript")
    script(src="/javascript/player_list.js", type="application/javascript")
    script(src="/javascript/room.js", type="application/javascript")

    :javascript
      | var player_list;

      | $(function() {
      |   var kv = location.search.substr(1).split(/=/);
      |   if (kv[0] == 'player' && kv[1]) {
      |     $('#login').hide();

      |     var me = new Player(kv[1], {animate_with: function(avatar){
      |       var color = ["#ccc", "#c00", "#0c0"][Math.floor(3*Math.random(3))];
      |       avatar.attr({fill: color});
      |     } });

      |     var room = new Room($("#room-container")[0]);
      |     var goodbye = function() {
      |       alert("You have been logged out.");
      |       window.location = window.location.protocol + '//' + window.location.host + window.location.pathname;
      |     };
      |     player_list = new PlayerList(me, room, {onComplete: goodbye});
      |   }
      | });

  body
    div!= body
